In [2]:
import pandas as pd
df = pd.read_csv('weather_2012.csv')

In [3]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
914,2012-02-08 02:00:00,-12.1,-20.4,50,6,25.0,102.20,Clear
476,2012-01-20 20:00:00,-16.9,-24.8,50,9,25.0,102.34,Mainly Clear
7762,2012-11-19 10:00:00,1.3,-3.4,71,7,19.3,102.90,Mainly Clear
1506,2012-03-03 18:00:00,3.7,-4.3,56,48,25.0,98.82,Mostly Cloudy
7970,2012-11-28 02:00:00,-3.6,-6.1,83,4,25.0,101.99,Mostly Cloudy

In [6]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [7]:
col_names1=['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather']

In [8]:
col_names=['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']

In [9]:
df.columns=col_names

In [10]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

In [11]:
df.mean()

temp_c                 8.798144
dew_point              2.555294
relative_humidity     67.431694
wind_speed            14.945469
visibility            27.664447
pressure             101.051623
dtype: float64

In [12]:
df.median

<bound method DataFrame.median of                 date_time  temp_c  dew_point  relative_humidity  wind_speed  \
0     2012-01-01 00:00:00    -1.8       -3.9                 86           4
1     2012-01-01 01:00:00    -1.8       -3.7                 87           4
2     2012-01-01 02:00:00    -1.8       -3.4                 89           7
3     2012-01-01 03:00:00    -1.5       -3.2                 88           6
4     2012-01-01 04:00:00    -1.5       -3.3                 88           7
...                   ...     ...        ...                ...         ...
8779  2012-12-31 19:00:00     0.1       -2.7                 81          30
8780  2012-12-31 20:00:00     0.2       -2.4                 83          24
8781  2012-12-31 21:00:00    -0.5       -1.5                 93          28
8782  2012-12-31 22:00:00    -0.2       -1.8                 89          28
8783  2012-12-31 23:00:00     0.0       -2.1                 86          30

      visibility  pressure               weather
0            8.0    101.24                   Fog
1            8.0    101.24                   Fog
2            4.0    101.26  Freezing Drizzle,Fog
3            4.0    101.27  Freezing Drizzle,Fog
4            4.8    101.23                   Fog
...          ...       ...                   ...
8779         9.7    100.13                  Snow
8780         9.7    100.03                  Snow
8781         4.8     99.95                  Snow
8782         9.7     99.91                  Snow
8783        11.3     99.89                  Snow

[8784 rows x 8 columns]>

In [13]:
df.mode()

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,16.6,-0.9,68.0,9.0,25.0,101.13,Mainly Clear
1,2012-01-01 01:00:00,NaN,12.9,NaN,NaN,NaN,NaN,NaN
2,2012-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8780,2012-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8781,2012-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8782,2012-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8783,2012-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.count

<bound method DataFrame.count of                 date_time  temp_c  dew_point  relative_humidity  wind_speed  \
0     2012-01-01 00:00:00    -1.8       -3.9                 86           4
1     2012-01-01 01:00:00    -1.8       -3.7                 87           4
2     2012-01-01 02:00:00    -1.8       -3.4                 89           7
3     2012-01-01 03:00:00    -1.5       -3.2                 88           6
4     2012-01-01 04:00:00    -1.5       -3.3                 88           7
...                   ...     ...        ...                ...         ...
8779  2012-12-31 19:00:00     0.1       -2.7                 81          30
8780  2012-12-31 20:00:00     0.2       -2.4                 83          24
8781  2012-12-31 21:00:00    -0.5       -1.5                 93          28
8782  2012-12-31 22:00:00    -0.2       -1.8                 89          28
8783  2012-12-31 23:00:00     0.0       -2.1                 86          30

      visibility  pressure               weather
0            8.0    101.24                   Fog
1            8.0    101.24                   Fog
2            4.0    101.26  Freezing Drizzle,Fog
3            4.0    101.27  Freezing Drizzle,Fog
4            4.8    101.23                   Fog
...          ...       ...                   ...
8779         9.7    100.13                  Snow
8780         9.7    100.03                  Snow
8781         4.8     99.95                  Snow
8782         9.7     99.91                  Snow
8783        11.3     99.89                  Snow

[8784 rows x 8 columns]>

In [15]:
df['temp_f'] = df.apply(lambda x: (9/5)*x['temp_c']+32,axis=1)
print(df)

                date_time  temp_c  dew_point  relative_humidity  wind_speed  \
0     2012-01-01 00:00:00    -1.8       -3.9                 86           4
1     2012-01-01 01:00:00    -1.8       -3.7                 87           4
2     2012-01-01 02:00:00    -1.8       -3.4                 89           7
3     2012-01-01 03:00:00    -1.5       -3.2                 88           6
4     2012-01-01 04:00:00    -1.5       -3.3                 88           7
...                   ...     ...        ...                ...         ...
8779  2012-12-31 19:00:00     0.1       -2.7                 81          30
8780  2012-12-31 20:00:00     0.2       -2.4                 83          24
8781  2012-12-31 21:00:00    -0.5       -1.5                 93          28
8782  2012-12-31 22:00:00    -0.2       -1.8                 89          28
8783  2012-12-31 23:00:00     0.0       -2.1                 86          30

      visibility  pressure               weather  temp_f
0            8.0    101.24                   Fog   28.76
1            8.0    101.24                   Fog   28.76
2            4.0    101.26  Freezing Drizzle,Fog   28.76
3            4.0    101.27  Freezing Drizzle,Fog   29.30
4            4.8    101.23                   Fog   29.30
...          ...       ...                   ...     ...
8779         9.7    100.13                  Snow   32.18
8780         9.7    100.03                  Snow   32.36
8781         4.8     99.95                  Snow   31.10
8782         9.7     99.91                  Snow   31.64
8783        11.3     99.89                  Snow   32.00

[8784 rows x 9 columns]

In [16]:
df=df[['date_time','temp_f','temp_c','dew_point','relative_humidity','wind_speed','visibility','pressure','weather']]

In [17]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

In [18]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

In [19]:
df.date_time = pd.to_datetime(df.date_time)

In [20]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

In [21]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

In [22]:
monthly_avg = df['temp_f'].groupby(df.date_time.dt.month).mean()

In [23]:
df1=monthly_avg.to_frame()

In [24]:
df1=df1.reset_index()

In [25]:
df1=df1.rename(columns = {'index':'','date_time':'month','temp_f':'temp_f'})

In [26]:
df1

    month     temp_f
0       1  18.731290
1       2  24.395000
2       3  37.618226
3       4  44.616750
4       5  61.227984
5       6  68.241250
6       7  73.022097
7       8  72.102742
8       9  61.672000
9      10  51.718952
10     11  33.676500
11     12  26.048629

In [27]:
df1['month'] = df1['month'].apply(str)

In [28]:
df1.at[0,'month']='January'
df1.at[1,'month']='Febuary'
df1.at[2,'month']='March'
df1.at[3,'month']='April'
df1.at[4,'month']='May'
df1.at[5,'month']='June'
df1.at[6,'month']='July'
df1.at[7,'month']='August'
df1.at[8,'month']='September'
df1.at[9,'month']='October'
df1.at[10,'month']='November'
df1.at[11,'month']='December'

In [29]:
df1

        month     temp_f
0     January  18.731290
1     Febuary  24.395000
2       March  37.618226
3       April  44.616750
4         May  61.227984
5        June  68.241250
6        July  73.022097
7      August  72.102742
8   September  61.672000
9     October  51.718952
10   November  33.676500
11   December  26.048629

In [30]:
hourly_avg = df['temp_f'].groupby(df.date_time.dt.hour).mean()

In [31]:
hourly_avg.index.name='Hour'

In [32]:
hourly_avg

Hour
0     45.623443
1     44.762787
2     43.980820
3     43.325246
4     42.744426
5     42.291967
6     42.859508
7     43.831311
8     45.280656
9     46.987213
10    48.699672
11    50.193770
12    51.541803
13    52.508689
14    53.196721
15    53.391475
16    53.178033
17    52.297705
18    51.181311
19    50.041311
20    48.848197
21    47.851803
22    47.064918
23    46.397049
Name: temp_f, dtype: float64

In [33]:
hourly_avg.index=['12:00AM','1:00AM','2:00AM','3:00AM','4:00AM','5:00AM','6:00AM','7:00AM','8:00AM','9:00AM','10:00AM','11:00AM','12:00PM','1:00PM','2:00PM','3:00PM','4:00PM','5:00PM','6:00PM','7:00PM','8:00PM','9:00PM','10:00PM','11:00PM']

In [34]:
hourly_avg

12:00AM    45.623443
1:00AM     44.762787
2:00AM     43.980820
3:00AM     43.325246
4:00AM     42.744426
5:00AM     42.291967
6:00AM     42.859508
7:00AM     43.831311
8:00AM     45.280656
9:00AM     46.987213
10:00AM    48.699672
11:00AM    50.193770
12:00PM    51.541803
1:00PM     52.508689
2:00PM     53.196721
3:00PM     53.391475
4:00PM     53.178033
5:00PM     52.297705
6:00PM     51.181311
7:00PM     50.041311
8:00PM     48.848197
9:00PM     47.851803
10:00PM    47.064918
11:00PM    46.397049
Name: temp_f, dtype: float64

In [35]:
df

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,32.18,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,32.36,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,31.10,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,31.64,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,32.00,0.0,-2.1,86,30,11.3,99.89,Snow

In [43]:
df['weather'].groupby(df['weather']).count()

weather
Clear                                      1326
Cloudy                                     1728
Drizzle                                      41
Drizzle,Fog                                  80
Drizzle,Ice Pellets,Fog                       1
Drizzle,Snow                                  2
Drizzle,Snow,Fog                             15
Fog                                         150
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Freezing Drizzle,Haze                         3
Freezing Drizzle,Snow                        11
Freezing Fog                                  4
Freezing Rain                                14
Freezing Rain,Fog                             4
Freezing Rain,Haze                            2
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Haze                                         16
Mainly Clear                               2106
Moderate Rain,Fog                             1
Moderate Snow                                 4
Moderate Snow,Blowing Snow                    2
Mostly Cloudy                              2069
Rain                                        306
Rain Showers                                188
Rain Showers,Fog                              1
Rain Showers,Snow Showers                     2
Rain,Fog                                    116
Rain,Haze                                     3
Rain,Ice Pellets                              1
Rain,Snow                                    18
Rain,Snow Grains                              1
Rain,Snow,Fog                                 1
Rain,Snow,Ice Pellets                         4
Snow                                        390
Snow Pellets                                  1
Snow Showers                                 60
Snow Showers,Fog                              4
Snow,Blowing Snow                            19
Snow,Fog                                     37
Snow,Haze                                     5
Snow,Ice Pellets                              6
Thunderstorms                                 2
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers                   16
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain,Fog                        1
Name: weather, dtype: int64

In [59]:
df.sort_values('weather')

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
7103,2012-10-22 23:00:00,43.52,6.4,4.4,87,0,25.0,101.34,Clear
4203,2012-06-24 03:00:00,58.82,14.9,9.1,68,0,25.0,101.02,Clear
4204,2012-06-24 04:00:00,57.92,14.4,9.0,70,11,48.3,101.04,Clear
4205,2012-06-24 05:00:00,57.20,14.0,9.2,73,6,48.3,101.04,Clear
4206,2012-06-24 06:00:00,64.04,17.8,10.5,62,4,48.3,101.04,Clear
...,...,...,...,...,...,...,...,...,...
5842,2012-08-31 10:00:00,67.46,19.7,17.8,89,20,24.1,100.54,"Thunderstorms,Rain Showers"
5108,2012-07-31 20:00:00,72.32,22.4,18.7,80,35,9.7,100.64,"Thunderstorms,Rain Showers,Fog"
4323,2012-06-29 03:00:00,67.10,19.5,16.1,81,7,9.7,99.71,"Thunderstorms,Rain Showers,Fog"
4761,2012-07-17 09:00:00,73.22,22.9,21.3,91,17,9.7,99.84,"Thunderstorms,Rain Showers,Fog"
4757,2012-07-17 05:00:00,69.08,20.6,18.6,88,19,4.8,100.08,"Thunderstorms,Rain,Fog"

In [60]:
col_names2=['Date/Time','Temp (F)', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather']

In [61]:
df.columns=col_names2

In [62]:
df

,Date/Time,Temp (F),Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,32.18,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,32.36,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,31.10,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,31.64,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,32.00,0.0,-2.1,86,30,11.3,99.89,Snow

In [67]:
df.to_csv('weather_2012_new.csv',index=False)

In [68]:
monthly_avg.to_csv('monthly_avg.csv')

In [69]:
hourly_avg.to_csv('hourly_avg.csv')